@{
    ViewBag.Title = "Grand Circus Coffee";
}

<div class="jumbotron">
    <h1>@ViewBag.Title</h1>
    <p class="lead">Dark coffee for the lighthearted.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>New Customers!</h2>
        @Html.ActionLink("Click Here to Register","Register","Home", htmlAttributes: new {@class="btn btn-link"})
    </div>
</div>